.post img{
    width: 100%;
    max-height: 300px;
}
.post {
    margin: 5px;
    margin-top: 10px;
    border: 1px solid black;
}
.post button {
    width: 100%;
}
form button{
    width: 100%;
}
#brand {
    text-align: center;
    font-style: italic;
    background-color:blue;
    height:50px;
    color: white;
}
.nav {
    background:blue;
}
.nav li {
    background-color:white;
}
#appointmnetbody{
    display: none;
}
.btn-light {
    width: 10px;
}